name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: az acr login --name taskgaragebackend

      - name: Build Docker image
        run: docker build -t taskgaragebackend.azurecr.io/taskgaragebackend:latest .

      - name: Push Docker image
        run: docker push taskgaragebackend.azurecr.io/taskgaragebackend:latest
